.main-container {
    float:left;
    position:relative;
    left:50%;
   /*overflow:hidden;*/
}

.fixer-container {
    float:left;
    position:relative;
    left:-50%;
}

.megam_color {
  background: #E8E8E8;
}

.megam_text_color1 {
	color: #422833;
	
}

.megam_font_size {
	font-size:250%;
}

#footer {
    width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#31333A;
}

.bg-yellow {
  background: #DAA520;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}