.main-container {
    float:left;
    position:relative;
    left:50%;
   /*overflow:hidden;*/
}

.fixer-container {
    float:left;
    position:relative;
    left:-50%;
}

.megam_color {
  background: #E8E8E8;
}

.megam_text_color1 {
	color: #422833;
	
}

.megam_font_size {
	font-size:250%;
}

