.waiting{ padding: 0; display: inline-block; }
.waiting-element{ margin: 0 2px 2px 0; background-color: #ccc; 
    width: 10px; height: 20px; display: inline-block;}
.waiting-play-0{ margin-bottom: 0; background-color: #999; }
.waiting-play-1{ margin-bottom: 1px; background-color: #aaa; }
.waiting-play-2{ margin-bottom: 2px; background-color: #bbb; }

.waiting-circles{ padding: 0; display: inline-block; 
    position: relative; width: 60px; height: 60px;}
.waiting-circles-element{ margin: 0 2px 0 0; background-color: #e4e4e4; 
    border: solid 1px #f4f4f4;
    width: 10px; height: 10px; display: inline-block; 
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.waiting-circles-play-0{ background-color: #000000; }
.waiting-circles-play-1{ background-color: #1a1a1a; }
.waiting-circles-play-2{ background-color: #4d4d4d; }

.waiting-blocks{ padding: 0; display: inline-block; }
.waiting-blocks-element{ background-color: #caddfb; border: solid 1px #c9ccdb;
    margin: 0 2px 0 0; width: 10px; height: 10px; display: inline-block; 
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.waiting-blocks-play-0{ background-color: black; }
.waiting-blocks-play-1{ background-color: #caddfb; }


td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}