<div class="tab-pane fade in p-30" id="servers">
	<h1 class="text-center font-w-100">
		Welcome back <span class="text-blue">John Doe</span>
	</h1>
	<div class="row">
		<p
			class="m-b-30 p-b-30 text-gray-alt text-uppercase text-center col-lg-8 col-lg-offset-2">Lorem
			ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis,
			quis, ipsam saepe voluptas rem possimus quas tenetur iusto dolorem
			architecto tempore fugiat amet iure distinctio quia vel consequuntur
			aut quod!</p>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<!-- MESSAGES -->
			<div class="iconmelon m-r-10">
				<svg viewBox="0 0 32 32">
                                     <g filter="">
                                         <use xlink:href="#email-mail"></use>
                                     </g>
                                </svg>
			</div>
			<span class="text-gray-dark text-large align-with-button hidden-xs">
				4 new messages </span> <a href="messages.html" class="btn-group pull-right">
				<div class="btn btn-alt">
					<i class="glyphicon glyphicon-list text-white"></i>
				</div>
				<div class="btn btn-primary">Read all</div>
			</a>
			<hr class="m-b-0">
			<ul class="unstyled messages">
				<li><a href="message-single.html"
					class="p-tb-10 p-l-10 pm-lr-10"> <span class="avatar"> <img
							src="/static/placeholders/avatars/4.jpg" alt=""
							class="img-circle retina">
					</span> <span class="author hidden-xs m-r-1">Eddie Mcgee</span> <span
						class="subject"> <i
							class="glyphicon glyphicon-star m-r-10 text-orange"></i> This
							product is meant for educational purposes only. Any resemblance
							to real persons, living or dead is purely coincidental.
					</span> <span class="date"><span class="text-gray-dark">23</span>
							minutes ago</span>
				</a></li>
				<li><a href="#" class="p-tb-10 pm-lr-10 p-l-10"> <span
						class="avatar"> <img
							src="/static/placeholders/avatars/6.jpg" alt=""
							class="img-circle retina">
					</span> <span class="author hidden-xs">Timmy Osborne</span> <span
						class="subject"> <i
							class="glyphicon glyphicon-star m-r-10 text-gray-light"></i> Own
							yo' eget tortizzle. Sizzle erizzle.
					</span> <span class="date">Today <span class="text-gray-dark">1:05pm</span></span>
				</a></li>
				<li><a href="#" class="p-tb-10 pm-lr-10 p-l-10"> <span
						class="avatar"> <img
							src="/static/placeholders/avatars/7.jpg" alt=""
							class="img-circle retina">
					</span> <span class="author hidden-xs">Doug Ross</span> <span
						class="subject"> <i
							class="glyphicon glyphicon-star m-r-10 text-gray-light"></i>
							Children of the sun, see your time has just begun, searching for
							your ways, through adventures every day.
					</span> <span class="date">Yesterday <span class="text-gray-dark">2:23pm</span></span>
				</a></li>
				<li><a href="#" class="p-tb-10 pm-lr-10 p-l-10"> <span
						class="avatar"> <img
							src="/static/placeholders/avatars/8.jpg" alt=""
							class="img-circle retina">
					</span> <span class="author hidden-xs">Victor Benson</span> <span
						class="subject"> <i
							class="glyphicon glyphicon-star m-r-10 text-gray-light"></i> And
							I was getting a tattoo during the death from above.
					</span> <span class="date"><span class="text-gray-dark">2</span>
							days ago</span>
				</a></li>
			</ul>
		</div>
	</div>
</div>