<title>Cloud In a Box</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static_source/css/admin.css">
    <link rel="stylesheet" href="/static_source/css/spin.css">
    <link rel="stylesheet" href="/static_source/css/megam.css">
     <link rel="stylesheet" href="/static_source/css/bootstrap/fuelux.css">
     <!--  <link rel="stylesheet" href="/static_source/css/bootstrap/fuelux-responsive.css"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/static_source/js/lib/modernizr.js"></script>
    
    <script src="/static_source/js/jquery-1.11.1.min.js"></script>
    <script src="/static_source/js/lib/backstretch.js"></script>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static_source/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static_source/js/lib/bootstrap.js"></script>

    <script src="/static_source/js/lib/pushy.js"></script>

    <script src="/static_source/js/lib/moment.js"></script>

    <script src="/static_source/js/lib/jquery.timeago.js"></script>
    <script src="/static_source/js/lib/jquery.eventCalendar.js"></script>

    <script src="/static_source/js/lib/icheck.js"></script>

    <script src="/static_source/js/lib/lifestream.js"></script>

   	<script src="/static_source/js/lib/raphael.js"></script>
		<script src="/static_source/js/lib/morris.js"></script>

		<script src="/static_source/js/lib/easypiechart.js"></script>

		<script src="/static_source/js/lib/sparkline.js"></script>

    <script src="/static_source/js/lib/notify.js"></script>

    <script src="/static_source/js/admin.js"></script>
    <script src="/static_source/js/fuelux.js"></script>
    <script src="/static_source/js/jquery-litelighter.js"></script>
    <script src="/static_source/js/jquery-waiting.js"></script>
    <script src="/static_source/js/steps.js"></script>
    
    <script>
    	var url ='/static/fonts/icons.svg';
      var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
      document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild)
    </script>