<nav class="navbar navbar-fixed-top not-collapse bg-g-ln-gray"
	role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#" class="hover-white-shade-bg">
			Cloud In a Box <small
			class="font-w-100 text-gray-alt hidden-xs hidden-sm">Megam
				Systems</small>
		</a>
	</div>
	<div id="top-nav">
	<a HREF="mailto:support@megam.io?subject={{.Username}}: CloudInaBox support ticket&body=Hi, Megam%0D%0A
%0D%0A
I peformed the following steps %0D%0A
1.  %0D%0A
2.   %0D%0A
%0D%0A
I have attached the zipped logs from /var/log/megam/megamcib/*.log. %0D%0A
%0D%0A
You can contact me at {{.Username}} for more information." type="button"
			class="btn btn-default navbar-btn navbar-right btn-primary m-r-30 mm-r-10">Submit a ticket</a>
		<div class="navbar-dropdown navbar-right navbar-avatar">
			<a href="#" data-target="#topavatar-toggle"
				class="hover-no-underline dropdown-toggle m-lr-30 mm-lr-10"
				data-toggle="dropdown"> <span
				class="text-gray-light hidden-sm hidden-xs">{{.Username}} </span> <span
				class="caret text-white hidden-sm hidden-xs"></span>
			</a>

			<ul id="topavatar-toggle" class="dropdown-menu avatar-dropdown">
				<li><a href="/logout">Sign Out</a></li>
			</ul>
		</div>
		<input type="hidden" id="username_hidden" value={{.Username}}>
		<a href="http://bit.ly/megamnext" target="_blank"
			type="button"
			class="btn btn-bordered text-white btn-sm navbar-btn navbar-right m-r-30 mm-r-10">Docs</a>
	</div>
</nav>
