<nav class="navbar navbar-fixed-top not-collapse bg-g-ln-gray" role="navigation">
  		<div class="navbar-header">
		    <a class="navbar-brand" href="#" class="hover-white-shade-bg">
		    	Cloud In a Box
		    	<small class="font-w-100 text-gray-alt hidden-xs hidden-sm">Megam Systems</small>
		    </a>
		  </div>
	  	<div id="top-nav">
	  		<div class="navbar-dropdown navbar-right navbar-avatar">
	  			<a href="#" data-target="#topavatar-toggle" class="hover-no-underline dropdown-toggle m-lr-30 mm-lr-10" data-toggle="dropdown">
						<img src="/static/placeholders/avatars/avatar.jpg" class="img-circle" width=25>
						<span class="text-gray-light hidden-sm hidden-xs">{{.Username}} </span>
						<span class="caret text-white hidden-sm hidden-xs"></span>
					</a>
					<ul id="topavatar-toggle" class="dropdown-menu avatar-dropdown">
	          <li><a href="settings.html">Settings</a></li>
	          <li><a href="/logout">Signout</a></li>
	        </ul>
	  		</div>	  		
	  	</div>
		</nav>