{{template "base/base.html" .}} {{ define "body" }}
<div id="dashboard-page" class="bg-white">
	{{ template "base/nav.html" .}}

	<script type='text/javascript'>
		$('.collapse').collapse();
		$(document).ready(function() {

			dashboard("master");
			dashboard("ha");
			dashboard("cs");
		});
	</script>

	<div class="sidebar bg-gray-dark text-white text-center pushy pushy-left">
		<header class="bg-g-ln-gray p-tb-30 pm-tb-10 p-lr-10 b-bot-2px-gray-dark hidden-xs">
			<a href="#" data-target="#avatar-toggle" class="hover-no-underline dropdown-toggle" data-toggle="dropdown"> <span class="text-gray-light">{{.Username}}</span> <span class="caret white"></span> </a>
		</header>
		<ul id="avatar-toggle" class="dropdown-sidebar-avatar" role="menu" aria-labelledby="dLabel">
			<li>
				<a href="/logout">Sign Out</a>
			</li>
		</ul>

		<hr class="no-margin">

		<ul class="unstyled nav">
			<li class="active">
				<a href="dash" class="text-left" id="dashboard">Dashboard</a>
			</li>
			<li>
				<a href="master" class="text-left">Master</a>
			</li>
			<li>
				<a href="nodes" class="text-left">Compute/Storage</a>
			</li>
			<li>
				<a href="ha" class="text-left">HA</a>
			</li>

		</ul>
	</div>

	<div class="preloader">
		<div class="timer"></div>
	</div>

	<div id="container" class="main-content p-30 tp-t-60 tp-lr-10">
        <button class="menu-btn btn btn-bordered text-gray-alt text-bold top-left-corner">&#9776; MENU</button>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">

							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">
									<i class="fi-crown fa-spin"></i>
								</div>
								<div>
									Master
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div id="master_dash_waiting1"></div>
						<ul class="timeline" id="d_master"></ul>
					</div>
					<a data-toggle="collapse" href="#collapsemaster" aria-expanded="false" aria-controls="collapsemaster">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<div class="clearfix"></div>
					</div> </a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-comments fa-2x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">
									<i class="fi-database"></i>
								</div>
								<div>
									Compute/Storage
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div id="cs_dash_waiting1"></div>
						<ul class="timeline" id="d_cs"></ul>
					</div>
					<a data-toggle="collapse" href="#collapsecs" aria-expanded="false" aria-controls="collapsecs">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<div class="clearfix"></div>
					</div></a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-shopping-cart fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">
									<i class="fi-die-two"></i>
								</div>
								<div>
									High Availability
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div id="ha_dash_waiting1"></div>
						<ul class="timeline" id="d_ha"></ul>
					</div>
					<a data-toggle="collapse" href="#collapseha" aria-expanded="false" aria-controls="collapseha">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<div class="clearfix"></div>
					</div></a>
				</div>
			</div>
		</div>

		<div class="collapse" id="collapsemaster">
			<div class="row well" id="collmaster">				
			</div>
		</div>
		<div class="collapse" id="collapsecs">
			<div class="row well" id="collcs">				
			</div>
		</div>
		<div class="collapse" id="collapseha">
			<div class="row well" id="collha">
				
			</div>
		</div>
	</div>

</div>
</div>
<!-- /main content -->
</div>

{{ end }}
