{{template "base/base.html" .}}
{{ define "body" }}
  <div id="dashboard-page" class="bg-gray-light">
  	  {{ template "base/nav.html" .}}

		<div class="sidebar bg-gray-dark text-white text-center pushy pushy-left">
			<header class="bg-g-ln-gray p-tb-30 pm-tb-10 p-lr-10 b-bot-2px-gray-dark hidden-xs">
				<a href="#" data-target="#avatar-toggle" class="hover-no-underline dropdown-toggle" data-toggle="dropdown">
					<img src="/static/placeholders/avatars/avatar.jpg" class="img-circle" width=35>
					<span class="text-gray-alt">Welcome</span>
					<span class="text-gray-light">John Doe</span>
					<span class="caret white"></span>
				</a>
			</header>
			<ul id="avatar-toggle" class="dropdown-sidebar-avatar" role="menu" aria-labelledby="dLabel">
				<li><a href="settings.html">Settings</a></li>
				<li><a href="/logout">Signout</a></li>
		  </ul>

			<hr class="no-margin">

			<ul class="unstyled nav">
				<li class="active"><a href="index.html" class="text-left">Dashboard</a></li>
				<li>
					<a href="messages.html" class="text-left">
						Inbox
						<span class="badge bg-blue-light pull-right text-gray-dark brad-small">4</span>
					</a>
				</li>
				<li><a href="gallery.html" class="text-left">Gallery</a></li>
				<li>
					<a href="#" class="text-left dropdown-toggle" data-toggle="dropdown">
						UI Elements
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="ui.html">UI</a></li>
						<li><a href="widgets.html">Widgets</a></li>
					</ul>
				</li>
				<li><a href="pricing.html" class="text-left">Pricing</a></li>
				<li><a href="settings.html" class="text-left">Settings</a></li>
			</ul>

			<div class="bg-gray-dark-shade text-left search">
				<i class="glyphicon glyphicon-search text-gray-alt"></i>
				<input type="text" placeholder="Search" class="input-invisible">
			</div>

			<div class="sidebar-chart chart m-t-30" data-percent="50" data-scale-color="rgba(255,255,255,.2)">
				<div class="percentage text-gray-alt font-w-100">50%</div>
				<div class="label text-gray-alt font-w-100 text-uppercase">Bandwidth</div>
			</div>

		</div>

		<div class="preloader">
			<div class="timer"></div>
		</div>

  	<div id="container" class="main-content p-30 tp-t-60 tp-lr-10">

			<button class="menu-btn btn btn-bordered text-gray-alt text-bold top-left-corner">&#9776; MENU</button>

			<ul class="nav nav-tabs">
			  <li class="active">
			  	<a href="#servers" data-toggle="tab">
			  		<!-- <div class="text-small">Manage your</div> -->
			  		<span class="text-uppercase">servers</span>
			  		<!-- <span class="text-gray-dark">/</span>
			  		<span class="small text-gray-dark">4 new messages</span> -->
			  	</a>
			  </li>
			  <li>
			  	<a href="#nodes" data-toggle="tab">
			  		<!-- <div class="text-small">Watch your</div> -->
			  		<span class="text-uppercase">Nodes</span>
			  		<!-- <span class="text-gray-dark">/</span>
			  		<span class="small text-gray-dark">12 new followers</span> -->
			  	</a>
			  </li>
			  <li>
			  	<a href="#storage" data-toggle="tab">
			  		<!-- <div class="text-small">Watch your</div> -->
			  		<span class="text-uppercase">Storage</span>
			  		<!-- <span class="text-gray-dark">/</span>
			  		<span class="small text-gray-dark">12 new followers</span> -->
			  	</a>
			  </li>
			</ul>
			
			<!-- DASHBOARD TAB -->
  		<div class="bg-white b-1px-gray-light b-top-none brad-bottom brad-tr b-bot-2px-gray-light">

  			<div class="tab-content">
  				<div class="tab-pane active fade in p-30" id="servers">
  					<h1 class="text-center font-w-100">Welcome back <span class="text-blue">John Doe</span></h1>
  					<div class="row">
  						<p class="m-b-30 p-b-30 text-gray-alt text-uppercase text-center col-lg-8 col-lg-offset-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quis, ipsam saepe voluptas rem possimus quas tenetur iusto dolorem architecto tempore fugiat amet iure distinctio quia vel consequuntur aut quod!</p>
  					</div> 				
  					<div class="row">    					
  						<div class="col-sm-12">
							<!-- MESSAGES -->
  							<div class="iconmelon m-r-10">
                                <svg viewBox="0 0 32 32">
                                     <g filter="">
                                         <use xlink:href="#email-mail"></use>
                                     </g>
                                </svg>
                           </div>
								<span class="text-gray-dark text-large align-with-button hidden-xs">
									4 new messages
								</span>

  							<a href="messages.html" class="btn-group pull-right">
									<div class="btn btn-alt">
										<i class="glyphicon glyphicon-list text-white"></i>
									</div>
									<div class="btn btn-primary">
										Read all
									</div>
								</a>

								<hr class="m-b-0">

								<ul class="unstyled messages">
									<li>
										<a href="message-single.html" class="p-tb-10 p-l-10 pm-lr-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/4.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs m-r-1">Eddie Mcgee</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-orange"></i>
												This product is meant for educational purposes only. Any resemblance to real persons, living or dead is purely coincidental. 
											</span>
											<span class="date"><span class="text-gray-dark">23</span> minutes ago</span>
										</a>
									</li>
									<li>
										<a href="#" class="p-tb-10 pm-lr-10 p-l-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/6.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs">Timmy Osborne</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-gray-light"></i>
												Own yo' eget tortizzle. Sizzle erizzle.
											</span>
											<span class="date">Today <span class="text-gray-dark">1:05pm</span></span>
										</a>
									</li>

									<li>
										<a href="#" class="p-tb-10 pm-lr-10 p-l-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/7.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs">Doug Ross</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-gray-light"></i>
												Children of the sun, see your time has just begun, searching for your ways, through adventures every day. 
											</span>
											<span class="date">Yesterday <span class="text-gray-dark">2:23pm</span></span>
										</a>
									</li>

									<li>
										<a href="#" class="p-tb-10 pm-lr-10 p-l-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/8.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs">Victor Benson</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-gray-light"></i>
												And I was getting a tattoo during the death from above.
											</span>
											<span class="date"><span class="text-gray-dark">2</span> days ago</span>
										</a>
									</li>

								</ul>

  						</div>
  						
  					</div>
  				</div>
					
				<!-- Nodes TAB -->
				<div class="tab-pane active fade in p-30" id="nodes">

  					<h1 class="text-center font-w-100">Welcome back <span class="text-blue">John Doe</span></h1>
  					<div class="row">
  						<p class="m-b-30 p-b-30 text-gray-alt text-uppercase text-center col-lg-8 col-lg-offset-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quis, ipsam saepe voluptas rem possimus quas tenetur iusto dolorem architecto tempore fugiat amet iure distinctio quia vel consequuntur aut quod!</p>
  					</div> 					

  					<div class="row">  						

  						<div class="col-sm-12">
								<!-- MESSAGES -->
  							<div class="iconmelon m-r-10">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#email-mail"></use>
                    </g>
                  </svg>
                </div>

								<span class="text-gray-dark text-large align-with-button hidden-xs">
									4 new messages
								</span>

  							<a href="messages.html" class="btn-group pull-right">
									<div class="btn btn-alt">
										<i class="glyphicon glyphicon-list text-white"></i>
									</div>
									<div class="btn btn-primary">
										Read all
									</div>
								</a>

								<hr class="m-b-0">

								<ul class="unstyled messages">
									<li>
										<a href="message-single.html" class="p-tb-10 p-l-10 pm-lr-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/4.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs m-r-1">Eddie Mcgee</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-orange"></i>
												This product is meant for educational purposes only. Any resemblance to real persons, living or dead is purely coincidental. 
											</span>
											<span class="date"><span class="text-gray-dark">23</span> minutes ago</span>
										</a>
									</li>
									<li>
										<a href="#" class="p-tb-10 pm-lr-10 p-l-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/6.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs">Timmy Osborne</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-gray-light"></i>
												Own yo' eget tortizzle. Sizzle erizzle.
											</span>
											<span class="date">Today <span class="text-gray-dark">1:05pm</span></span>
										</a>
									</li>

									<li>
										<a href="#" class="p-tb-10 pm-lr-10 p-l-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/7.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs">Doug Ross</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-gray-light"></i>
												Children of the sun, see your time has just begun, searching for your ways, through adventures every day. 
											</span>
											<span class="date">Yesterday <span class="text-gray-dark">2:23pm</span></span>
										</a>
									</li>

									<li>
										<a href="#" class="p-tb-10 pm-lr-10 p-l-10">
											<span class="avatar">
												<img src="/static/placeholders/avatars/8.jpg" alt="" class="img-circle retina">
											</span>
											<span class="author hidden-xs">Victor Benson</span>
											<span class="subject">
												<i class="glyphicon glyphicon-star m-r-10 text-gray-light"></i>
												And I was getting a tattoo during the death from above.
											</span>
											<span class="date"><span class="text-gray-dark">2</span> days ago</span>
										</a>
									</li>

								</ul>

  						</div>
  						
  					</div>
  				</div>	
					
					<!-- STORAGE TAB -->
  				<div class="tab-pane fade p-30" id="storage">

  					<div class="row m-b-30">
  						<div class="col-sm-4">
  							<h1 class="font-w-100"><span class="text-blue">12</span> new followers</h1>
  						</div>
							<div class="col-sm-8 m-t-30">

								<div class="row">
									<div class="col-sm-4 text-center">
										<span class="twitter-sparkline">Loading..</span>
										<div class="text-uppercase text-small text-gray-alt m-t-10">TWITTER</div>
									</div>

									<div class="col-sm-4 text-center">
										<span class="facebook-sparkline">Loading..</span>
										<div class="text-uppercase text-small text-gray-alt m-t-10">FACEBOOK</div>
									</div>

									<div class="col-sm-4 text-center">
										<span class="google-sparkline">Loading..</span>
										<div class="text-uppercase text-small text-gray-alt m-t-10">GOOGLE+</div>
									</div>
								</div>

							</div>
  					</div>

  					<hr class="m-b-30">

  					<!-- visiotrs chart -->
						<div class="iconmelon m-r-10">
	            <svg viewBox="0 0 32 32">
	              <g filter="">
	                <use xlink:href="#man-people-user"></use>
	              </g>
	            </svg>
	          </div>

						<span class="text-gray-dark text-large align-with-button pos-abs">
							Visitors
						</span>
					
						<div class="btn-group pull-right" data-toggle="buttons">
						  <label class="btn btn-primary active">
						    <input type="radio" name="visitors" id="option1"> Week
						  </label>
						  <label class="btn btn-primary">
						    <input type="radio" name="visitors" id="option2"> Month
						  </label>
						  <label class="btn btn-primary">
						    <input type="radio" name="visitors" id="option3"> Year
						  </label>
						</div>

						<div id="visitors-chart" style="height: 315px;" class="m-b-30"></div>

						<hr>
					
						<div class="row">
							<div class="col-sm-7">
								<div class="iconmelon m-r-10">
			            <svg viewBox="0 0 32 32">
			              <g filter="">
			                <use xlink:href="#earth-globe"></use>
			              </g>
			            </svg>
			          </div>
		
								<span class="text-gray-dark text-large align-with-button pos-abs">
									Source
								</span>

								<div id="source-chart" class="m-b-30" style="height: 320px;"></div>
							</div>

							<div class="col-sm-5">

								<div class="iconmelon m-r-10">
			            <svg viewBox="0 0 32 32">
			              <g filter="">
			                <use xlink:href="#macintosh"></use>
			              </g>
			            </svg>
			          </div>
		
								<span class="text-gray-dark text-large align-with-button pos-abs">
									Devices
								</span>

								<div id="device-chart" class="m-tb-30" style="height: 300px;"></div>
							</div>
  					</div>
			
  				</div>

  			</div>

  		</div>

  	</div> <!-- /main content -->
  	</div>
{{ end }}