 {{template "base/base.html" .}} {{ define "body" }}
<div id="dashboard-page" class="bg-white">
	{{ template "base/nav.html" .}}

	<div class="sidebar bg-gray-dark text-white text-center pushy pushy-left">
		<header class="bg-g-ln-gray p-tb-30 pm-tb-10 p-lr-10 b-bot-2px-gray-dark hidden-xs">
			<a href="#" data-target="#avatar-toggle" class="hover-no-underline dropdown-toggle" data-toggle="dropdown"> <span class="text-gray-light">{{.Username}}</span> <span class="caret white"></span> </a>
		</header>
		<ul id="avatar-toggle" class="dropdown-sidebar-avatar" role="menu" aria-labelledby="dLabel">
			<li>
				<a href="/logout">Sign Out</a>
			</li>
		</ul>

		<hr class="no-margin">

		<ul class="unstyled nav">		
			<li>
				<a href="dash" class="text-left">Dashboard</a>
			</li>
			<li>
				<a href="master" class="text-left">Master</a>
			</li>
			<li>
				<a href="nodes" class="text-left">Compute/Storage</a>
			</li>
			<li class="active">
				<a href="ha" class="text-left">HA</a>
			</li>
			
		</ul>
	</div>

	<div class="preloader">
		<div class="timer"></div>
	</div>
	
	<div id="container" class="main-content">
	 
	  <button class="menu-btn btn btn-bordered text-gray-alt text-bold top-left-corner">
			&#9776; MENU
		</button>
	
		<div class="p-30">
		
			{{ template "page/step5.html" .}}
		</div>		
	</div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- /main content -->
{{ end }}
