{{template "base/base.html" .}} {{ define "body" }}
<div id="dashboard-page" class="bg-white">
	{{ template "base/nav.html" .}}

	<script type='text/javascript'>
		$(document).ready(function() {
			$.ajax({
				type : "GET",
				url : "/servers",
				dataType : 'text',
				async : true,
				crossDomain : "true",
				success : function(response) {
					var res = JSON.parse(response);
					$.each(res.data, function(idx, obj) {
						var ser = JSON.parse(obj);					
						$("#" + ser.Name + "_status").text(get_install_text(ser.Install, ser.Name));
						$("#" + ser.Name + "_installdate").text(ser.InstallDate);
						$("#" + ser.Name + "_updatedate").text(ser.UpdateDate);
					});
				},
				error : function(xhr, status) {
					console.log(status);
				}
			});
		});		

	</script>

	<div class="sidebar bg-gray-dark text-white text-center pushy pushy-left">
		<header class="bg-g-ln-gray p-tb-30 pm-tb-10 p-lr-10 b-bot-2px-gray-dark hidden-xs">
			<a href="#" data-target="#avatar-toggle" class="hover-no-underline dropdown-toggle" data-toggle="dropdown"> <span class="text-gray-light">{{.Username}}</span> <span class="caret white"></span> </a>
		</header>
		<ul id="avatar-toggle" class="dropdown-sidebar-avatar" role="menu" aria-labelledby="dLabel">
			<li>
				<a href="/logout">Sign Out</a>
			</li>
		</ul>

		<hr class="no-margin">

		<ul class="unstyled nav">	
			<li>
				<a href="dash" class="text-left" id="dashboard">Dashboard</a>
			</li>
			<li  class="active">
				<a href="master" class="text-left">Master</a>
			</li>
			<li>
				<a href="nodes" class="text-left">Compute/Storage</a>
			</li>
			<li>
				<a href="ha" class="text-left">HA</a>
			</li>
			
		</ul>
	</div>

	<div class="preloader">
		<div class="timer"></div>
	</div>

	<div id="container" class="main-content p-30 tp-t-60 tp-lr-10">
	<button class="menu-btn btn btn-bordered text-gray-alt text-bold top-left-corner">&#9776; MENU</button>
		<h1 class="text-center font-w-100"> Master Node <span class="text-blue">SERVERS</span></h1>
		<br/>
		<br/>

		<div class="col-sm-3">
			<div class="pricing-table">
				<div class="bg-gray-dark table-top-wrapper">
					<div class="table-top bg-green-dark" id="MEGAM_statuscolor">
						<div class="iconmelon">
							<svg viewBox="0 0 32 32">
								<g filter="">
									<use xlink:href="#chaplin-hat-movie"></use>
								</g>
							</svg>
						</div>
					</div>
				</div>
				<div class="bg-gray-light p-30">
					<div class="text-large text-center">
						Megam Packages
					</div>
					<div class="table-body">
						<ul class="checkmarked m-t-10">
							<li>
								status - <span id="MEGAM_status"></span>
							</li>
							<li>
								Install Date - <span id="MEGAM_installdate"></span>
							</li>
							<li>
								Update Date - <span id="MEGAM_updatedate"></span>
							</li>
						</ul>
						<br>
						</br>
						<div id="MEGAM_dash_success" style="display: none;">
							<p class="text-success">
								<div class="fi-icon text-success">
									<i class="fi-check m-10 text-large"></i>Installed
									successfully.
								</div>
							</p>
						</div>
						<div id="MEGAM_dash_error" style="display: none;">
							<p class="text-danger">
								<div class="fi-icon text-danger">
									<i class="fi-alert m-10 text-large"></i>
								</div>
								Install failure.
							</p>
						</div>
					</div>
					<hr class="m-t-0 m-b-10">
					<button class="btn btn-primary btn-block btn-lg" id="MEGAM_install_button">
						Install
					</button>
					<div id="MEGAM_waiting1"></div>
					<button class="btn btn-danger btn-block btn-lg" id="MEGAM_uninstallbutton">
						Uninstall
					</button>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="pricing-table">
				<div class="bg-gray-dark table-top-wrapper">
					<div class="table-top bg-green-dark" id="COBBLER_statuscolor">
						<div class="iconmelon">
							<svg viewBox="0 0 32 32">
								<g filter="">
									<use xlink:href="#chaplin-hat-movie"></use>
								</g>
							</svg>
						</div>
					</div>
				</div>
				<div class="bg-gray-light p-30">
					<div class="text-large text-center">
						Cobbler
					</div>
					<div class="table-body">
						<ul class="checkmarked m-t-10">
							<li>
								status - <span id="COBBLER_status"></span>
							</li>
							<li>
								Install Date - <span id="COBBLER_installdate"></span>
							</li>
							<li>
								Update Date - <span id="COBBLER_updatedate"></span>
							</li>
						</ul>
						<br>
						</br>
						<div id="COBBLER_dash_success" style="display: none">
							<p class="text-success">
								<div class="fi-icon text-success">
									<i class="fi-check m-10 text-large"></i>Installed
									successfully.
								</div>
							</p>
						</div>
						<div id="COBBLER_dash_error" style="display: none">
							<p class="text-danger">
								<div class="fi-icon text-danger">
									<i class="fi-alert m-10 text-large"></i>
								</div>
								Install failure.
							</p>
						</div>
					</div>
					<hr class="m-t-0 m-b-10">
					<button class="btn btn-primary btn-block btn-lg" id="COBBLER_install_button">
						Install
					</button>
					<div id="COBBLER_waiting1"></div>
					<button class="btn btn-danger btn-block btn-lg" id="COBBLER_uninstallbutton">
						Uninstall
					</button>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="pricing-table">
				<div class="bg-gray-dark table-top-wrapper">
					<div class="table-top bg-green-dark" id="OPENNEBULA_statuscolor">
						<div class="iconmelon">
							<svg viewBox="0 0 32 32">
								<g filter="">
									<use xlink:href="#chaplin-hat-movie"></use>
								</g>
							</svg>
						</div>
					</div>
				</div>
				<div class="bg-gray-light p-30">
					<div class="text-large text-center">
						Opennebula
					</div>
					<div class="table-body">
						<ul class="checkmarked m-t-10">
							<li>
								status - <span id="OPENNEBULA_status"></span>
							</li>
							<li>
								Install Date - <span id="OPENNEBULA_installdate"></span>
							</li>
							<li>
								Update Date - <span id="OPENNEBULA_updatedate"></span>
							</li>
						</ul>
						<br>
						</br>
						<div id="OPENNEBULA_dash_success" style="display: none">
							<p class="text-success">
								<div class="fi-icon text-success">
									<i class="fi-check m-10 text-large"></i>Installed
									successfully.
								</div>
							</p>
						</div>
						<div id="OPENNEBULA_dash_error" style="display: none">
							<p class="text-danger">
								<div class="fi-icon text-danger">
									<i class="fi-alert m-10 text-large"></i>
								</div>
								Install failure.
							</p>
						</div>
					</div>
					<hr class="m-t-0 m-b-10">
					<button class="btn btn-primary btn-block btn-lg" id="OPENNEBULA_install_button">
						Install
					</button>
					<div id="OPENNEBULA_waiting1"></div>
					<button class="btn btn-danger btn-block btn-lg" id="OPENNEBULA_uninstallbutton">
						Uninstall
					</button>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="pricing-table">
				<div class="bg-gray-dark table-top-wrapper">
					<div class="table-top bg-green-dark" id="OPENNEBULAHOST_statuscolor">
						<div class="iconmelon">
							<svg viewBox="0 0 32 32">
								<g filter="">
									<use xlink:href="#chaplin-hat-movie"></use>
								</g>
							</svg>
						</div>
					</div>
				</div>
				<div class="bg-gray-light p-30">
					<div class="text-large text-center">
						Opennebulahost
					</div>
					<div class="table-body">
						<ul class="checkmarked m-t-10">
							<li>
								status - <span id="OPENNEBULAHOST_status"></span>
							</li>
							<li>
								Install Date - <span id="OPENNEBULAHOST_installdate"></span>
							</li>
							<li>
								Update Date - <span id="OPENNEBULAHOST_updatedate"></span>
							</li>
						</ul>
						<br>
						</br>
						<div id="OPENNEBULA_dash_success" style="display: none">
							<p class="text-success">
								<div class="fi-icon text-success">
									<i class="fi-check m-10 text-large"></i>Installed
									successfully.
								</div>
							</p>
						</div>
						<div id="OPENNEBULA_dash_error" style="display: none">
							<p class="text-danger">
								<div class="fi-icon text-danger">
									<i class="fi-alert m-10 text-large"></i>
								</div>
								Install failure.
							</p>
						</div>
					</div>
					<hr class="m-t-0 m-b-10">
					<button class="btn btn-primary btn-block btn-lg" id="OPENNEBULAHOST_install_button">
						Install
					</button>
					<div id="OPENNEBULAHOST_waiting1"></div>
					<button class="btn btn-danger btn-block btn-lg" id="OPENNEBULAHOST_uninstallbutton">
						Uninstall
					</button>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /main content -->
</div>

{{ end }}
