 <script type='text/javascript'>
		$(document).ready(function() {
			$.ajax({
		type : "GET",
		url : "/servers/getHA",
		dataType : 'text',
		async : true,
		crossDomain : "true",
		success : function(response) {
				var res = JSON.parse(response);
				console.log(res.data);
                $.each(res.data, function(idx, obj) {   
                           
                        console.log(obj);   
						$("#ha_list").append(
						'<tr style="height: 50px;">\
						<td class="success">' + obj.IP + '</td>\
						<td class="warning">' + get_install_text(obj.Install) + '</td>\
						<td class="danger">' + obj.InstallDate + '</td>\
						<td class="active">' + obj.UpdateDate + '</td>\
						</tr>');
						
					});	
				//	$('#myModal').modal();				
				},
				error : function(xhr, status) {
					console.log(status);
			}
	});
		});		

	</script> 

<div class="tab-pane active fade in p-30" id="dashboard">
	<input type="hidden" id="hosthaip">
	<div class="bg-gray-light p-30 m-t-30 b-bot-2px-gray-light b-right-1px-gray-light">

		<div class="row" id="ha_selection">
			<div class="col-sm-8  text-center">
				<span
				class="text-gray-dark text-large align-with-button pos-abs"> Do you want to enable
					<p class="text-info text-bold">
						HIGH AVAILABLITY
					</p> </span>
			</div>
			<div class="col-sm-2">
				<div class="m-b-10">
					<input type="radio" name="optionsRadios" value="yes"
					class="icheck">
					<span class="m-l-10">Yes</span>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="m-b-10">
					<input type="radio" name="optionsRadios" value="no"
					class="icheck" checked>
					<span class="m-l-10">No</span>
				</div>
			</div>
		</div>
		<hr />
		<div class="row" id="ha_note" style="display: none">
			<div class="col-sm-12  text-center" id="HA_network_warning_text">
				<p class="m-b-30 p-b-30 lead text-warning text-uppercase text-center col-lg-8 col-lg-offset-2">
					Please network the new server to this LAN and netboot it. when
					your server is ready click install.
				</p>
			</div>
			<div class="col-sm-12 text-center">
				<a href="" class="btn btn-primary btn-lg m-t-10"
				id="HA_install_button" style="display: none">Install</a>
				<div id="HA_waiting"></div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<div id="HA_install_text" style="display: none">
						<p class="text-info">
							Installing...
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="HA_waiting1"></div>
				</div>
				<div id="HA_success" style="display: none">
					<p class="text-success">
						<div class="fi-icon text-success">
							<i class="fi-check m-10 text-large"></i>Installed
							successfully.
						</div>
					</p>
				</div>
				<div id="HA_error" style="display: none">
					<p class="text-danger">
						<div class="fi-icon text-danger">
							<i class="fi-alert m-10 text-large"></i>Install failure.
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<h1 class="text-center font-w-100"> High Availability</h1>
		<br/>
		<br/>
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Ip</th>
							<th>Status</th>
							<th>Install date</th>
							<th>Update Date</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody id="ha_list">

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
