<div class="tab-pane active fade in p-30" id="dashboard">

	<div class="bg-gray-light p-30 m-t-30 b-bot-2px-gray-light b-right-1px-gray-light">

		<div class="row" id="storage_selection">
			<div class="col-sm-8  text-center">
				<span
				class="text-gray-dark text-large align-with-button pos-abs"> Do you want to enable
					<p class="text-info text-bold">
						HIGH AVAILABLITY
					</p> </span>
			</div>
			<div class="col-sm-2">
				<div class="m-b-10">
					<input type="radio" name="optionsRadios" value="yes"
					class="icheck">
					<span class="m-l-10">Yes</span>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="m-b-10">
					<input type="radio" name="optionsRadios" value="no"
					class="icheck" checked>
					<span class="m-l-10">No</span>
				</div>
			</div>
		</div>
		<hr />
		<div class="row" id="storage_note" style="display: none">
			<div class="col-sm-12  text-center">
				<div class="alert alert-warning">
					We are working on it.
					Coming soon.
				</div>

				<p
				class="m-b-30 p-b-30 lead text-warning text-uppercase text-center col-lg-8 col-lg-offset-2">
					Please network the new server to this LAN and netboot it. when
					your server is ready click install.
				</p>
			</div>
			<div class="col-sm-12 text-center">
				<a href="" class="btn btn-primary btn-lg m-t-10">Install</a>
			</div>
		</div>
	</div>
</div>
