<div class="tab-pane active fade in p-30" id="dashboard">

	<h1 class="text-center font-w-100"> Welcome <span class="text-blue">{{.Username}}</span></h1>
	<div class="row">
		<p
		class="m-b-30 p-b-30 text-gray-alt text-uppercase text-center col-lg-8 col-lg-offset-2">

			Automatically starts the install of <a
			href="http://www.gomegam.com/" target="_blank">MEGAM</a>. On
			successful completion of megam installation <a
			href="http://www.cobblerd.org/" target="_blank">COBBLERD</a>
			install is started. Click Log to watch the progress of the
			install.
		</p>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="bg-white p-30 brad b-bot-2px-gray-light b-right-1px-gray-light">
				<div class="row">
					<div class="col-sm-5 text-center">
						<div class="p-10 brad">
							<a href="http://www.gomegam.com/"> <img
							src="/static_source/images/megam.png" alt=""
							class="img-circle" width="115"> </a>

							<div>
								<div>
									<div>
										<h3 class="m-b-0">MEGAM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-12">
							<div>
								<h4>Version</h4>
								<p class="text-gray-alt">
									0.5
								</p>
							</div>
							<hr />
						</div>
						<div class="col-sm-12">
							<div class="col-sm-4">
								<a href="" class="btn btn-primary btn-lg m-t-10"
								id="MEGAM_install_button">Install</a>
								<div id="MEGAM_install_text" style="display: none">
									<p class="text-info">
										Installing...
									</p>
								</div>
								<div id="MEGAM_success" style="display: none">
									<p class="text-success">
										<div class="fi-icon text-success">
											<i class="fi-check m-10 text-large"></i>Installed
											successfully.
										</div>
									</p>
								</div>
								<div id="MEGAM_error" style="display: none">
									<p class="text-danger">
										<div class="fi-icon text-danger">
											<i class="fi-alert m-10 text-large"></i>
										</div>
										Install failure.
									</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div id="MEGAM_waiting1"></div>
							</div>
							<div class="col-sm-4">
								<span id="MEGAM_LOG"><a
									href="/servers/megam/log"
									class="btn-group pull-right" target="_blank">
									<div class="btn btn-alt">
										<i class="glyphicon glyphicon-list text-white"></i>
									</div>
									<div class="btn btn-primary">
										Log
									</div> </a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="bg-white p-30 brad b-bot-2px-gray-light b-right-1px-gray-light">
				<div class="row">
					<div class="col-sm-5 text-center">
						<div class="p-10 brad">
							<a href="http://www.gomegam.com/"> <img
							src="/static_source/images/cobbler.png" alt=""
							class="img-circle" width="115"> </a>

							<div>
								<div>
									<div>
										<h3 class="m-b-0">COBBLER</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-12">
							<div>
								<h4>Version</h4>
								<p class="text-gray-alt">
									2.4.1
								</p>
							</div>
							<hr />
						</div>
						<div class="col-sm-12">
							<div class="col-sm-4">
								<a href="" class="btn btn-primary btn-lg m-t-10"
								id="COBBLER_install_button">Install</a>
								<div id="COBBLER_install_text" style="display: none">
									<p class="text-info">
										Installing...
									</p>
								</div>
								<div id="COBBLER_success" style="display: none">
									<p class="text-success">
										<div class="fi-icon text-success">
											<i class="fi-check m-10 text-large"></i>Installed
											successfully.
										</div>
									</p>
								</div>
								<div id="COBBLER_error" style="display: none">
									<p class="text-danger">
										<div class="fi-icon text-danger">
											<i class="fi-alert m-10 text-large"></i>
										</div>
										Install failure.
									</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div id="COBBLER_waiting1"></div>
							</div>
							<div class="col-sm-4">
								<span id="COBBLER_LOG"><a
									href="/servers/cobbler/log"
									class="btn-group pull-right" target="_blank">
									<div class="btn btn-alt">
										<i class="glyphicon glyphicon-list text-white"></i>
									</div>
									<div class="btn btn-primary">
										Log
									</div> </a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
